node_modules
.env
package-lock.json
src/config.js
src/config.json
prisma/migrations/
Thumbs.db
blockedDomains.json
debug.log
bdl*.html
restart.js
bam.js
bam.py
gay.js
src/img/
realVerification.js
Fern
tempconf.js
ejs.md
*debug.log
ferns appeals.toml
learn japanese.toml
namiware.toml